@keyframes open {
    0% {
        background-position: 166% -25%, 220% -69%;
    }

    100% {
        background-position: 120% -5%, 200% -40%;
    }
}

.field {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    color: #116acc;
    background: linear-gradient(270deg, #66a2e2, #116bcc);
    margin-bottom: 25px;
}

.img-wrap {
    position: relative;
    width: 168px;
    height: 168px;
    overflow: hidden;
    border-radius: 50%;
}

.img-upload:before {
    content: "\f093";
    font-family: "FontAwesome";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #116acc;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.img-upload:hover:before {
    opacity: 1;
}

.avatar {
    width: auto;
    height: 100%;
}

.name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #676767;
    max-width: 220px;
    overflow-wrap: break-word;
}

.status {
    text-align: center;
    max-width: 220px;
    overflow-wrap: break-word;
}

.edit_1 {
    color: #fff;
    width: 180px;
    position: relative;
    color: #054231;
    letter-spacing: 1px;
    margin: 20px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: #64d488;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}


.fa-instagram {
    position: absolute;
    color: #79f1a4;
    top: 3%;
    right: 2%;
    font-size: 38px;
}

.fa-instagram:hover {
    font-size: 42px;
    color: #caff81;
    transition: all .1s linear;
    cursor: pointer;
}